
/**
 * Container that holds all the cards.
 *
 */
.card-list {
	@include pie-clearfix;
	max-width: 960px;
	margin: $gutter*2 auto;
	opacity: 0;
	@include transition(transform .2s cubic-bezier(.51,.14,.68,1.97) );
	transform: scale3d(.5,.5,.5);
	li{
		float: left;
		width: ( 100% / 6 );
		padding: $gutter/2;
	}

	@include breakpoint(max-width $size-mobile){
		width: auto;
		margin: $gutter/4;
		li{
			padding: $gutter/4;
		}
	}

	li.shake{
		-webkit-animation: shake .4s;
		animation: shake .4s;
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
	}
}

/**
 * Each card is made up of: container, card an a back
 * and front elements
 */
.card-container {
	width: 100%;
	height: 60px;
	position: relative;
	perspective: 800px;

	.card {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		@include transition( transform .3s cubic-bezier(.51,.14,.68,1.97) );
		@include transform( box-shadow .2s ease-out);

		&.flipped{
			transform: rotateY( 180deg );
		}

		div {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		.front {
			background-color: $color-white;
			background-image: url(images/card-pattern.svg);
			@include border-radius(3px);
			@include box-shadow(0 1px 2px rgba($color-black,.37));
		}

		.front.loading:before{
			content: ' ';
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(0,0,0,.3);
			width: 100%;
			height: 100%;
			border-radius: 3px;
			background-image: url(images/preload.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50%;
		}

		.back {
			position: relative;
			background: $color-white;
			transform: rotateY( 180deg );
			background-position: center;
			background-repeat: no-repeat;
			background-size: 90% 90%;
			@include border-radius(3px);
			@extend %drop-shadow;
			span{
				display: inline-block;
				color: shade($color-gray-light,20%);
				font-weight: 800;
				margin: $gutter/4;

				//MOBILE
				@include breakpoint(max-width $size-mobile){
					display: none;
				}
			}
		}

		.back.match {
			@include box-shadow(0 0px 0px rgba($color-black,.37));

		}
	}

	//BACKGROUND
	//	set background image for each card type.
	@each $item in $list {
		.card .back.#{nth($item,1)}{
			background-image: url(images/#{nth($item,2)});
		}
	}

}


