/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/open-sans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Italic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-LightItalic-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'open-sans';
  src: url("fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icon/icomoon.eot");
  src: url("fonts/icon/icomoon.eot") format("embedded-opentype"), url("fonts/icon/icomoon.woff") format("woff"), url("fonts/icon/icomoon.ttf") format("truetype"), url("fonts/icon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 129, ../sass/helpers/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 143, ../sass/helpers/_fonts.scss */
.icon-arrow-right:before {
  content: "\e600";
}

/* line 2, ../sass/components/_main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/components/_main.scss */
html, body {
  background-color: #f0f0f0;
}

/* line 9, ../sass/components/_main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #323232;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 3, ../sass/components/_panels.scss */
main[role=main] {
  /**
   * Login panel
   */
  /**
   *
   */
}
/* line 8, ../sass/components/_panels.scss */
main[role=main] .login-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 20, ../sass/components/_panels.scss */
main[role=main] .game-panel {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: -10px;
  opacity: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ddc885;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 30, ../sass/components/_panels.scss */
main[role=main] .game-panel header {
  opacity: 0;
  background-color: #559072;
  transform: translate3d(0, -100%, 0);
  padding: 30px;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
/* line 37, ../sass/components/_panels.scss */
main[role=main] .game-panel .card-list {
  margin: 60px auto;
  opacity: 0;
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.51, 0.14, 0.68, 1.97);
  -o-transition: -o-transform 0.2s cubic-bezier(0.51, 0.14, 0.68, 1.97);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.51, 0.14, 0.68, 1.97);
  transition: transform 0.2s cubic-bezier(0.51, 0.14, 0.68, 1.97);
  transform: scale3d(0.5, 0.5, 0.5);
}
/* line 43, ../sass/components/_panels.scss */
main[role=main] .game-panel .card-list td {
  padding: 30px;
}

/* line 58, ../sass/components/_panels.scss */
body.play .game-panel {
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
}

/* line 68, ../sass/components/_panels.scss */
body.display .game-panel header {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
}
/* line 72, ../sass/components/_panels.scss */
body.display .game-panel .card-list {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* line 3, ../sass/components/_forms.scss */
form.login-form {
  position: relative;
  padding: 30px;
  background-color: white;
  margin: 60px auto;
  width: 40%;
  -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.37);
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.37);
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.37);
}
/* line 14, ../sass/components/_forms.scss */
form.login-form .login-form__submit-wrapper {
  text-align: right;
}
/* line 18, ../sass/components/_forms.scss */
form.login-form .login-form__header {
  padding: 30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -30px;
}
/* line 26, ../sass/components/_forms.scss */
form.login-form input[type=text],
form.login-form input[type=email] {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  padding: 15px;
  display: block;
  margin-bottom: 30px;
  width: 100%;
}
/* line 35, ../sass/components/_forms.scss */
form.login-form input[type=submit] {
  font-family: 'icomoon';
  color: white;
  font-size: 20px;
  background-color: #ddc885;
  border: none;
  height: 50px;
  width: 50px;
  right: 30px;
  bottom: 30px;
  outline: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.37);
  -webkit-box-shadow: 0 1px 2px rgba(50, 50, 50, 0.37);
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.37);
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* line 61, ../sass/components/_forms.scss */
form.login-form.loading input[type=submit] {
  -webkit-animation: rotating 2s linear infinite;
}

/* line 3, ../sass/components/_cards.scss */
.card-list {
  *zoom: 1;
  max-width: 960px;
  margin: auto;
}
/* line 38, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.card-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../sass/components/_cards.scss */
.card-list li {
  float: left;
  width: 16.66667%;
  padding: 15px;
}

/* line 15, ../sass/components/_cards.scss */
.container {
  width: 100%;
  height: 60px;
  position: relative;
  perspective: 800px;
}

/* line 21, ../sass/components/_cards.scss */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* line 28, ../sass/components/_cards.scss */
.card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* line 35, ../sass/components/_cards.scss */
.card .front {
  background-color: white;
  background-image: url(images/card-pattern.svg);
}

/* line 39, ../sass/components/_cards.scss */
.card .back {
  background: white;
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

/* line 72, ../sass/components/_cards.scss */
.card .back.a {
  background-image: url(images/01.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.b {
  background-image: url(images/02.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.c {
  background-image: url(images/03.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.d {
  background-image: url(images/04.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.e {
  background-image: url(images/05.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.f {
  background-image: url(images/06.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.g {
  background-image: url(images/07.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.h {
  background-image: url(images/08.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.i {
  background-image: url(images/09.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.j {
  background-image: url(images/10.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.k {
  background-image: url(images/11.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.l {
  background-image: url(images/12.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.m {
  background-image: url(images/13.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.n {
  background-image: url(images/14.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.o {
  background-image: url(images/15.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.p {
  background-image: url(images/16.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.q {
  background-image: url(images/17.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.r {
  background-image: url(images/18.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.s {
  background-image: url(images/19.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.t {
  background-image: url(images/20.svg);
}

/* line 72, ../sass/components/_cards.scss */
.card .back.v {
  background-image: url(images/21.svg);
}

/* line 77, ../sass/components/_cards.scss */
.card.flipped {
  transform: rotateY(180deg);
}
