

// - - - - [ COLOR ] - - - - - - - - - - - - - - - - - - - - -
	$color-white:				rgb(255,255,255);
	$color-black:				rgb(50,50,50);
	$color-gray-light:			rgb(240,240,240);
	$color-red: 				rgb(200,117,75);
	$color-yellow: 				rgb(221, 200, 133);
	$color-green: 				rgb(85,144,114);

// - - - - [ FONT ] - - - - - - - - - - - - - - - - - - - - -
	$font-weight-normal:		300;

// - - - - [ SIZE ] - - - - - - - - - - - - - - - - - - - - -
	$gutter:					30px;