

// - - - - [ COLOR ] - - - - - - - - - - - - - - - - - - - - -
	$color-white:				rgb(255,255,255);
	$color-black:				rgb(50,50,50);
	$color-gray-light:			rgb(240,240,240);
	$color-red: 				rgb(200,117,75);
	$color-yellow: 				rgb(221, 200, 133);
	$color-green: 				rgb(85,144,114);

// - - - - [ FONT ] - - - - - - - - - - - - - - - - - - - - -
	$font-weight-normal:		300;

	$font-size-base:			16px;
	$font-size-header:			24px;

	$base-font-size: 			$font-size-base;
	$base-line-height: 			24px;

// - - - - [ SIZE ] - - - - - - - - - - - - - - - - - - - - -
	$gutter:					30px;

	$size-mobile:				480px;

// - - - - [ CARDS ] - - - - - - - - - - - - - - - - - - - - -

$list :	'a' '01.svg',
		'b' '02.svg',
		'c' '03.svg',
		'd' '04.svg',
		'e' '05.svg',
		'f' '06.svg',
		'g' '07.svg',
		'h' '08.svg',
		'i' '09.svg',
		'j' '10.svg',
		'k' '11.svg',
		'l' '12.svg',
		'm' '13.svg',
		'n' '14.svg',
		'o' '15.svg',
		'p' '16.svg',
		'q' '17.svg',
		'r' '18.svg',
		's' '19.svg',
		't' '20.svg',
		'v' '21.svg';